html, body, input, textarea, select, button {   
    color: #ff4d4d !important;
    background: linear-gradient(to bottom right, #0052cc, #ff4d4d) !important;
  }
  
  a {
      color: #c64949 !important;
  }
  
  a:hover {
      color: #ff4d4d !important;
  }
  
  .site-title, .site-title:visited, .site-nav, .page-link {
      color: #ff4d4d !important;
  }
  
  .site-nav {
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
      border-color: #fffbe5;
  }
  
  * {
      scrollbar-color: #fffae5 #fffbe5;
  }
  
  pre, code {
      border-color: #fffbe5;
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
  }
  
  .page-description {
      color: #935f4c;
  }
  
  .post-meta {
      color: #935f4c;
  }
  
  .post-content p, .post-content li {
      color: #935f4c;
  }
  
  .btn {
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d) !important;
      color: #ff4d4d !important;
      border-color: #fffbe5 !important;
  }
  
  .btn:hover {
      background-color: #fffae5 !important;
  }
  
  table th{
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
      border-color: #fffbe5;
      color: #ff4d4d;
  }
  
  table td{
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
      border-color: #fffbe5;
      color: #935f4c;
  }
  
  .flash {
      color: #fffae5 !important;
      filter: brightness(80%);
  }
  
  canvas {
      filter: invert(100%);
  }
  
  .post-list > li > div {
      box-shadow: none !important;
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
      border: none !important;
  }
  
  li .post-meta-description {
      color: #935f4c !important;
  }
  