html, body, input, textarea, select, button {   
    color: #ffffff !important;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
  a, h3, h1 {
      color: #ffffff !important;
  }
  
  a:hover {
      color: #cfcfcf !important;
  }
  
  .site-title, .site-title:visited, .site-nav, .page-link {
      color: #ffffff !important;
  }
  
  .site-nav {
     /* background: linear-gradient(to bottom right, #0052cc, #ff4d4d);*/
      border-color: #fffbe5;
  }
  
  * {
      scrollbar-color: #fffae5 #fffbe5;
  }
  
  pre, code {
      border-color: #fffbe5;
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
  }
  
  .page-description {
      color: #565656;
  }
  
  .post-meta {
      color: #ffffff;
  }
  
  .post-content p, .post-content li {
      color: #ffffff;
  }
  
  .btn {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);      color: #ff4d4d !important;
      border-color: #fffbe5 !important;
  }
  
  .btn:hover {
      background-color: #fffae5 !important;
  }
  
  table th{
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
      border-color: #fffbe5;
      color: #ff4d4d;
  }
  
  table td{
      background: linear-gradient(to bottom right, #0052cc, #ff4d4d);
      border-color: #fffbe5;
      color: #935f4c;
  }
  
  .flash {
      color: #fffae5 !important;
      filter: brightness(80%);
  }
  
  canvas {
      filter: invert(100%);
  }
  
  .post-list > li > div {
      box-shadow: none !important;
      background: linear-gradient(to bottom right, #3a3a3a, #020202);
      border: 1cm  !important;
  }
  
  li .post-meta-description {
      color: #ffffff !important;
  }
  